<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <a href="/#/messages" class="btn btn-default">Back</a>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">

    <h1>{{ message.subject }}</h2>
    <p>{{ message.timestamp }}</p>
    <p>From: {{ message.from }}</p>
    <p>To:
      <span ng-repeat="name in message.to">{{ name }}{{$last ? '' : ', '}}</span>
    </p>
    <p>BCC:
      <span ng-repeat="name in message.bcc">{{ name }}{{$last ? '' : ', '}}</span>
    </p>
    <p>CC:
      <span ng-repeat="name in message.cc">{{ name }}{{$last ? '' : ', '}}</span>
    </p>

    <hr>

    <div class="btn-group">
      <button class="btn btn-default" ng-click="showBody = 'HTML'">HTML</button>
      <button class="btn btn-default" ng-click="showBody = 'Plain'">Plain</button>
    </div>
    <div class="col-md-12" ng-bind-html="message.body.html" ng-show="showBody == 'HTML'"></div>
    <div class="col-md-12" ng-show="showBody == 'Plain'">{{ message.body.plain }}</div>

  </div>
</div>
