<div class="row">
  <div class="col-md-4">
    <div class="input-group stylish-input-group">
        <input type="text" class="form-control"  placeholder="Search" ng-model="query">
        <span class="input-group-addon">
            <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
  </div>

  <div class="col-md-8">
    <div class="list-group">
      <a href="/#/messages/{{ message.id }}" ng-repeat="message in messages | filter:query" class="fade list-group-item active">
        <h4 class="list-group-item-heading">{{ message.subject }}</h4>
        <p class="list-group-item-text">From: {{ message.from }}</p>
      </a>
    </div>
  </div>
</div>
