@import "../bower_components/bootstrap/less/bootstrap.less";

@body-bg: #333;
@text-color: #fff;
@brand-primary: darken(#66cc00, 6.5%);

@icon-font-path: "../bower_components/bootstrap/fonts/";

@gray-text: #737373;

@font-family-sans-serif: 'Source Sans Pro', sans-serif;

.container {
  margin-top: 30px;
}

.brand-box {
  color: @gray-text;
}
.brand-box h1 {
  color: @gray-text;
  text-shadow: 1px 1px 6px #000;
}

#smtp-connect {
  font-size: 20px;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.message-content {
  background-color: #fff;
  color: #000;
  border-radius: 0px 0px 5px 5px;
  margin-top: -1px;
  padding: 20px 10px;
}

.nav-tabs > li > a {
  cursor:pointer;
  font-size: 16px;
  color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #000;
  background-color:#fff
}
.nav-tabs > li > a:hover {
  color: #E5E5E5;
  background-color: #6F6F6F;
  border-color: #333;
}


@import "animations.less";
